* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-color-1);
  background-color: #fff;

  /* dark theme  */
  /* background-color: var(--text-color-1);
  color: white; */
}

:root {
  --primary-color-1: #f72585;
  --primary-color-1-dim: #f725841b;
  --primary-color-1-hover: #bf105f;
  --primary-color-2: #7209b7;
  --primary-color-2-dim: #7109b722;
  --primary-color-2-hover: #560889;
  --primary-color-3: #3a0ca3;
  --primary-color-3-chat-sender: #390ca326;
  --primary-color-4: #4361ee;
  --primary-color-5: #4cc9f0;
  --text-color-1: #0c0221;
  --text-color-2: #868190;
  --text-color-3: #9e9aa6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-1);
  transition: all 0.3s;
}

a:hover {
  color: var(--primary-color-1);
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.primary {
  color: var(--primary-color-1);
}

.m-2 {
  margin-top: 12px !important;
}

.text-1 {
  font-size: 1.6rem !important;
}

.text-1-5 {
  font-size: 2.2rem !important;
}

.text-2 {
  font-size: 2.4rem !important;
}

.text-3 {
  font-size: 3.2rem !important;
}

.text-4 {
  font-size: 4.8rem !important;
}

.text-5 {
  font-size: 5.6rem !important;
}

.text-color-primary {
  color: var(--primary-color-1);
}

.text-color-primary:hover {
  color: var(--primary-color-1) !important;
}

.bold {
  font-weight: 600;
}

.btn {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
}

.logout-btn {
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: start;
}

.btn-primary {
  background-color: var(--primary-color-1);
  transition: all 0.3s;
  color: #fff;
}

.ant-btn-default {
  background-color: var(--primary-color-1);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--primary-color-1-hover) !important;
  color: #fff;
}

.ant-design-form {
  margin-top: 2.4rem;
}

.site-form-item-icon {
  color: var(--primary-color-1);
}

.primary-icon {
  color: var(--primary-color-1);
  padding: 1.2rem;
  border-radius: 100%;
  transition: all 0.3s;
}

.primary-icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color-1) !important;
  border-color: var(--primary-color-1) !important;
}

.ant-checkbox .ant-checkbox-inner {
  border-color: var(--primary-color-1) !important;
}

.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus-within {
  border-color: var(--primary-color-1) !important;
}

.ant-rate-star.ant-rate-star-full,
.ant-rate-star.ant-rate-star-zero,
.ant-rate-star.ant-rate-star-half.ant-rate-star-active {
  margin: 0 -0.6rem;
  color: var(--primary-color-1);
}

.ant-pagination .ant-pagination-item {
  border-color: var(--primary-color-1);
  color: var(--primary-color-1);
}

.ant-pagination-item > a {
  color: var(--primary-color-1) !important;
}

.ant-pagination:hover .ant-pagination-item:hover {
  border-color: var(--primary-color-1);
  color: var(--primary-color-1);
}

.ant-picker:hover,
.ant-picker:focus-within {
  border-color: var(--primary-color-1);
}

.ant-btn {
  background-color: var(--primary-color-1);
}

.ant-btn:hover {
  background-color: var(--primary-color-1) !important;
}

.ant-picker-today-btn {
  color: var(--primary-color-1) !important;
}

.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: var(--primary-color-1) !important;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-2);
  transition: all 0.3s;
}

.avatar:hover {
  background-color: var(--primary-color-2-hover);
}

.normal-icon {
  font-size: 2rem;
}

.btn-success {
  background-color: #077e8c !important;
  color: #fff !important;
  transition: all 0.3s;
}

.btn-danger {
  background-color: #d80000 !important;
  color: #fff !important;
  transition: all 0.3s;
}
.btn-success:hover {
  background-color: #066570 !important;
  color: #fff !important;
}

.btn-danger:hover {
  background-color: #b40606 !important;
  color: #fff !important;
}

.btn-normal {
  background-color: #fff;
  color: var(--text-color-1);
}
.btn-normal:hover {
  background-color: #fff !important;
  color: var(--text-color-1) !important;
}
