.profile__detail {
  margin-top: 6.4rem;
  display: grid;
  grid-template-columns: 70fr 30fr;
  column-gap: 7.2rem;
  padding: 0 8rem;
}

.profile__detail-left {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 2.4rem;
}

.profile__detail-left-info-username {
  font-size: 1.8rem;
  text-decoration: wavy;
}

.profile__info-short-description {
  color: var(--text-color-2);
  font-size: 1.6rem;
  margin-top: 3px;
}

.profile__info-main {
  display: flex;
  gap: 2.4rem;
  margin-top: 1.2rem;
}

.profile__info-main-image {
  width: 12rem;
  height: auto;
  border-radius: 12px;
}

.profile__info-main-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem 0;
  font-size: 1.6rem;
}

.profile__detail-left-description {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-top: 1.2rem;
  overflow: hidden;
}

.show-less {
  height: 11rem;
  margin-bottom: 2rem;
}

.show-more-less {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color-1);
  cursor: pointer;
  height: 3.2rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.profile__detail-right {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 6.4rem;
  height: 56rem;
}

.profile__detail-right-infowrapper {
  padding: 2.4rem;
}

.profile__detail-right-cta {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-top: 1.2rem;
}

.cta-fav {
  transition: all 0.3s;
  border: 1px solid var(--primary-color-1);
  padding: 1rem;
  border-radius: 5px;
  color: var(--primary-color-1);
  cursor: pointer;
}

.profile__detail-right-offers {
  margin-top: 2.4rem;
}

.offers-heading {
  font-size: 1.6rem;
  font-weight: 550;
}

.offers-list {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.offers-list > li {
  margin-top: 5px;
}

.share {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-color-1);
}

.review__starting-heading {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.6rem;
}
